/* Inserting all the fonts here before anything else */

/* Baskerville */
.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}
  
.baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
}

  /*Roboto  */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
.hero {
    background-image: /*linear-gradient(rgba(14, 36, 59, 0.7), rgba(80, 166, 236, 0.3)),*/ url(../assets/images/home.jpg.webp);
    /* background-color:; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: cover; */
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    align-items: center;
    /* width: 100vw; */
}

.hero h1 {
    font-size: 3.5rem;
    color: white;
}

.hero p {
    font-size: 1.3rem;
    color: white;
}

.hero .btn-full {
    /* border: 1px solid #fff; */
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    background-color: #3FACE4;
    border-style: none;
}


.procedure {
  height: 100vh;
  background-color: #F9F9FF;

}

/* shefa start */

.card5 {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card5-img-container {
  position: absolute;
}
.card5-img-container img {
  height: 300px;
  width: 300px;
}

.card5-details > p {
  font-size: 12px;
  margin-top: 11px;
}

.card5-details > label {
  font-weight: bold;
}

.card5-details {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 89%;
  color: white;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  transition: height 0.5s ease-in-out;
}
.card5:hover > .card5-details {
  height: 100px;
}


/* card 4 things */
.card4 {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card4-img-container {
  position: absolute;
}
.card4-img-container img {
  height: 300px;
  width: 300px;
}

.card4-details > p {
  font-size: 12px;
  margin-top: 11px;
}

.card4-details > label {
  font-weight: bold;
}

.card4-details {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 89%;
  color: white;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  transition: height 0.5s ease-in-out;
}
.card4:hover > .card5-details {
  height: 100px;
}


/* shefa end */

.procedure-text {
  text-align: center;
}

.procedure-text h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
}

.procedure-text p {
  font-size: 1.3rem;
  font-family: sans-serif;
  color: #777;
}

.procedure-img {
  display: flex;
  align-content: center;
  margin-left: 7rem;
  /* margin-right: 10rem; */
}

.procedure-img .pro {
  margin: 20px;
  width: 30rem;
}


/* Working On the feedback Section */

.client-feedback {
  margin: 30rem;
  align-items: center;
}

.feedback-top {
  text-align: center;
}

.feedback-bottom {
  display: flex;
  justify-content: space-around
  ;
}

.feedback-bottom img {
  width: 600px;
  height: 350px;
  
}

/* .feedback-bottom .bi bi-star-fill {
  background-color: yellow;
} */

#star-one {
  color: #FFA500;
}

#star-two {
  color: #FFA500;
}

#star-three {
  color: #FFA500;
}

#star-four {
  color: #FFA500;
}

#star-five {
  color: #777777;
}


.about img {
  width: 200px
}